<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CasieTagger.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4F840B71C073DC1008D925B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4F840D01C073DC1008D925B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4F840DB1C073DC1008D925B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
